

body {
    padding-top: 54px;
    background-image: url('../assets/backgroud.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    z-index: 1;
    background-color: hsla(0,0%,100%,0.8);
    background-blend-mode: overlay;
  }