

body {
    padding-top: 54px;
    background-image: url('../assets/backgroud.JPG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    z-index: 1;
    background-color: hsla(0,0%,100%,0.8);
    background-blend-mode: overlay;
    /* font-family: 'Prompt', sans-serif; */
    font-family: 'Pridi', serif;
  }

.card-box-shadow {
  box-shadow: 4px 4px 40px rgba(0,0,0,.1);
}


.container-home {
  background-color: azure;
  padding-top: 30px;
  padding-bottom: 30px;
}

