body{
    /* font-family: 'Pridi', serif; */
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.img-logo{
    height: 40px;
}

header.masthead{
    background-image: url(../assets/backgroud3.jpg);
    background-color: hsla(0,0%,100%,0.2);
    background-blend-mode: overlay;
}

.sub-text-left{
    text-align: left;
}

.text-faded-2 {
    color: rgba(255,255,255,0.9);
}

.text-p-justify{
    text-align: justify;
}

.text-modal{
    padding: 16px 0;
}

.col-no-padding {
    padding-left: 0;
    padding-right: 0;    
    /* padding-left: 16px;
    padding-right: 16px; */
}

.col-padding {
    padding-left: 16px;
    padding-right: 16px;
}

.col-no-margin  {
    margin-left: 0;
    margin-right: 0;
}

.divide-content {
    margin-top: 0; 
    max-width: 100%;
}


.divide-content-light{
    border-color: #ffffff;
}

.bg-light {
    background-color: #f7f7f7 !important;
}

.bg-content-text {
    background-color: #ff6363;
}

.title-text {
    color: #ffffff;
}

.content-text {
    color: #ffdada;
}

.section-no-padding-top{
    padding-top: 0;
}

.section-no-padding-bottom{
    padding-bottom: 0;
}